{% extends 'base.html' %}
{% load static %}
{%block contenido%}
<h1 style="text-align: center;">Caos news</h1>
<hr><br>
<div class="container">
	<div class="row justify-content-center">
		{% for x in noticia %}
		{% for f in foto %}
		{% if x.id_noticia == f.id_noticia %}
		<div class="col-3" style="width: fit-content; margin-top: 30px;">
			<div class="card" style="width: 16rem;">
				<img src="{% static 'img/' %}{{f.dir}}" class="card-img-top" alt="{{f.dir}}">
				<div class="card-body">
					<h5 class="card-title">{{x.titulo}}</h5>
					<p class="card-text">{{x.Desc_mini}}</p>
					<a href="{% url 'Noticia' id=x.id_noticia %}" class="btn btn-primary">Ver más</a>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		<br>
		{% endfor %}
	</div>
</div>
{%endblock contenido%}