{% extends 'base.html' %}
{% load static %}
{%block contenido%}
<br>
<h1 style="text-align: center;">Caos news</h1>
<br><br>
<hr>
<div class="container">
	<h2 style="text-align: center;">{{noticia.0.titulo}}</h2>
	<br>
	<div class="clearfix">
		<img src="{% static 'img/' %}{{fotos.0.nom_foto}}" alt="{{fotos.0.nom_foto}}"
			class="col-md-5 float-md-end mb-3 ms-md-3" width="100%" focusable="false">
		<br>
		<!-- datos de noticia -->
		<p>{{noticia.0.Detalle|linebreaks}}</p>
		<!-- mostrar fotos -->
		<br><br><br>
		<p></p>
	</div>
	<br>
	<div class="row justify-content-center">
		{% for i in fotos%}
		{% if forloop.counter0 > 0 and forloop.counter0 <= 3%} <div class="col-4">
			<img src="{% static 'img/' %}{{i.nom_foto}}" alt="{{i.nom_foto}}" width="90%">
	</div>
	{% endif %}
	{% endfor %}
</div>
<br><br><br>
</div>
{%endblock contenido%}