<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Registro</title>
</head>
<body>
    <div class="container">
        <br><br><br>

        <div class="row">

            <div class="col-3"></div>
            <div class="col-6">
                <!-- cambiar pagina una ves enviado el formulario -->
                <form action="Index.html" method="post" name="" enctype="">
                    <div class="form-group bordes">
                        <!-- tipos inputs -->
                        <h1 class="text-center">Registro</h1>
                        <br>
                        <label for="nombreId" class="form-label">Nombre de usuario: </label>
                        <input type="text" class="form-control " id="nombreId">
                        <p id="pId"></p>



                        <label for="correoId">Correo</label>
                        <input type="email" id="correoId" class="form-control" name="correo" value=""
                            onkeyup="validarCorreo()">
                        <p id="pEmail"></p>




                        <label for="contraseñaId">Contraseña</label>
                        <input type="password" id="contraseñaId" class="form-control" name="contraseña" value=""
                            onkeyup="validarContraseña()">
                        <p id="pContraseña"></p>


                        <label for="contraseña2Id">Repetir contraseña</label>
                        <input type="password" id="contraseña2Id" class="form-control" name="contraseña2" value=""
                            onkeyup="validarContraseña2()">
                        <p id="pContraseña2"></p>
                        <br>

                        <button type="button" class="btn btn-success">Registrar</button>

                        <a class="btn btn-primary" href="Index" role="button">Volver a inicio</a>







                    </div>
                </form>
            </div>
            <div class="col-3"></div>
        </div>



    </div>

    <!-- js boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- cdn JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <!-- js propio -->
    <script src="../js/java.js"></script>
</body>

</html>