{% extends 'base.html' %}
{% load static %}
{%block contenido%}
<div class="container">
	<br><br><br>
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<!-- cambiar pagina una ves enviado el formulario -->
			<form method="post">
				{% csrf_token %}
				<div class="form-group bordes">
					<!-- tipos inputs -->
					<h1 class="text-center">Registro</h1>
					<br>
					{{form.as_p}}
					<button class="btn btn-light" type="submit">Registrarse</button>
			</form>
		</div>
		<div class="col-3"></div>
	</div>
</div>
{%endblock contenido%}